@import './variables/main.scss';

header {
  background-color: $accent-dark;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  color: $white;
}

.nav-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
}
