$accent-dark: #000f0c;
$black: #131313;
$white: #ffffff;
$default: #a1a1a1;
$neutral-white: #f3f3f3;
$green: #4abda0;
$light-green: #69d6bb;
$red: #da1414;
$grey: rgba(19, 19, 19, 0.4);
$dark-grey: rgba(255, 255, 255, 0.4);
$lato-font: 'Lato', sans-serif;
$lora-font: 'Lora', sans-serif;
